<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilosAnim.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./products.html">Productos</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="./aboutUs.html">Nosotros</a></li>
        </ul>
    </header>
    <main>
        <h1>Contactanos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste totam expedita sapiente cupiditate labore, eos temporibus assumenda adipisci, fuga soluta molestiae alias. Mollitia vitae cum laborum a pariatur quas corrupti.
        Adipisci laudantium amet perspiciatis tenetur dolorum officiis aperiam suscipit! Dignissimos, sequi ducimus quisquam tempora deserunt dolores nisi ullam sed vel accusantium quod! Quos labore, aliquid velit fugit facilis perspiciatis at.</p>
        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo molestias sint ad consequatur corrupti illum cumque reiciendis nihil consectetur officiis cupiditate laborum consequuntur amet tenetur ab, necessitatibus delectus sed quos.</h3>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi aliquid voluptas quae qui fuga incidunt libero maxime odio, quia suscipit in tenetur vel similique? Accusantium corporis harum architecto velit facilis?</h3>
    </main>
    <footer>
        <ul>
            <li><h5>Derechos Reservados Grupo 21</h5></li>
            <li><a href="#">GitHub</a></li>
            <li><a href="#">CaC</a></li>
        </ul>
    </footer>
</body>
</html>